[submodule "lib/leif"]
	path = lib/leif
	url = https://github.com/cococry/leif.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
